################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dotnet-8-clean-architecture/FileContentIndex/d6cb62cb-7b96-4149-94aa-7b8c1ef2b097.vsidx
/dotnet-8-clean-architecture/obj/Debug/net8.0/dotnet-8-clean-architecture.AssemblyInfoInputs.cache
.vs/
