################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dotnet-8-clean-architecture/FileContentIndex/d6cb62cb-7b96-4149-94aa-7b8c1ef2b097.vsidx
/dotnet-8-clean-architecture/obj/Debug/net8.0/dotnet-8-clean-architecture.AssemblyInfoInputs.cache
.vs/
/src/Core/Application/obj/Debug/net8.0
/src/Core/Application/bin
/src/Core/Application/obj
/src/Core/Domain/bin
/src/Core/Domain/obj
/src/Core/Shared/obj
/src/Core/Shared/bin
