################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dotnet-8-clean-architecture/FileContentIndex/d6cb62cb-7b96-4149-94aa-7b8c1ef2b097.vsidx
/dotnet-8-clean-architecture/obj/Debug/net8.0/dotnet-8-clean-architecture.AssemblyInfoInputs.cache
.vs/
/src/Core/Application/obj/Debug/net8.0
/src/Core/Application/bin
/src/Core/Application/obj
/src/Core/Domain/bin
/src/Core/Domain/obj
/src/Core/Shared/obj
/src/Core/Shared/bin
/.vs/dotnet-8-clean-architecture/v17/.suo
/.vs/dotnet-8-clean-architecture/v17/DocumentLayout.json
/dotnet-8-clean-architecture/obj/Debug/net8.0/dotnet-8-clean-architecture.AssemblyInfo.cs
/dotnet-8-clean-architecture/obj/Debug/net8.0/dotnet-8-clean-architecture.assets.cache
/dotnet-8-clean-architecture/obj/Debug/net8.0/dotnet-8-clean-architecture.GeneratedMSBuildEditorConfig.editorconfig
/src/Infrastructure/obj
/src/Infrastructure/bin
/src/Migrators/Migrators.MSSQL/obj
/src/Migrators/Migrators.MSSQL/bin
/src/Migrators/Migrators.MySQL/obj
/src/Migrators/Migrators.MySQL/bin
/src/Migrators/Migrators.Oracle/obj
/src/Migrators/Migrators.Oracle/bin
/src/Migrators/Migrators.PostgreSQL/obj
/src/Migrators/Migrators.PostgreSQL/bin
/src/Migrators/Migrators.SqLite/obj
/src/Migrators/Migrators.SqLite/bin
/src/Presentations/Host/obj
/src/Presentations/Host/bin
/dotnet-8-clean-architecture/bin/Debug/net8.0
/dotnet-8-clean-architecture/obj/Debug/net8.0
